/* base servises */
:root {
    --primary-blue: #00d2ff;
    --neon-cyan: #00ffff;
    --bg-dark: #000000;
    --text-light: #ffffff;
}
.servisos {
    padding-top: 10px;
    width: 100%;
    background-color: black;
    color: #fff !important;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.servisos > h2 {
    background: linear-gradient(to right, #fff, var(--primary-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem; /* Aumentado */
    padding: 30px 10px 20px 10px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800; /* Mais grosso */
    background: var(00d2ff);
    text-shadow: 0 0 20px rgba(0, 210, 255, 0.3);
}
.contern-servises {
    /* overflow: hidden; */
    width: 100%;
    background-color: black;
    transform-style: preserve-3d;
    min-height: 500px; 
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* ----------------------------- */
/* servises */

.box {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    background: black;
    transform-style: preserve-3d;
    transition: 1.5s;
    transform: perspective(2000px) rotateY(0deg);
    /* overflow:hidden; */
}
.item {
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    position: absolute;
    width: 95%;
    transform: translateX(100%);
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #444849;
    border-radius: 5px;
    box-shadow: 
        0 0 5px black,
        inset 3px 3px 5px 1px rgb(184, 184, 184),
        inset 3px 3px 7px 1px rgb(56, 56, 56),
        inset -5px -5px 5px black
    ; */
    /* box-shadow: 0 0 10px #00aeff;
    border-radius: 10px; */
}
.item > .img {
    overflow: hidden;
    width: 95%;
    height: 55%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow:
    0 0 0px 1px #000000,
     0 0 2px 2px #fff,
    0 0 5px black;
}
.item:nth-child(1){
    opacity: 1;
    transform: translateX(0%);
    /* background-color: red; */
    animation: item_animado .5s linear ease-out ;
}

@keyframes item_animado {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
    
}


.img > img {
    width: 100%;
}
.information {
    opacity: 0;
    transition: .5s .5s;
    transform: translateX(-100%);
    width: 95%;
    height: auto;
    /* border: 1px solid #000; */
    /* box-shadow: 
        0 0 5px black,
        inset 3px 3px 5px 1px rgb(184, 184, 184),
        inset 3px 3px 7px 1px rgb(56, 56, 56),
        inset -5px -5px 5px black
    ;  */
}

.item:nth-child(1) > .information {
    background-color: transparent;
    opacity: 1;
    
    transform: translateX(0%);

}

@keyframes item_animado {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
    
}

.information  > h1 {
    color: #fff;
    font-size: 2.2rem;
    margin: 0;
    margin-bottom: 10px;
    margin-left: auto;
    font-weight: 900;
    line-height: 1;
    border-left: 6px solid var(--primary-blue);
    padding-left: 15px;
    background: linear-gradient(to right, #fff, var(--primary-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transform: translateX(-30px); */
    opacity: 1;
    transition: 0.8s 0.2s ease-out;

}


.btns2 {
    
    bottom: 20px;
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}
.btn {
    
    background: var(--primary-blue);
    
    color: white;
    z-index: 1000;
    border: none;
    font-size: 1.8rem;
    box-shadow: 0 0 25px rgba(0, 210, 255, 0.5);
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.btn::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 3px solid blanchedalmond;
    border-right: 3px solid blanchedalmond;
    transform: rotate(45deg) translate(-2.5px,2.5px);
}
.btn.b_1::before {
    
    transform: rotate(225deg) translate(-2.5px,2.5px);
}
.btn:active::before{
    border-top: 3px solid black;
    border-right: 3px solid black;
}
