<div class="login-card">
  <h2>Recuperar Senha</h2>
  <form action="/forgot-password" method="POST">
      <input type="email" name="email" placeholder="Digite seu email" required>
      <button type="submit">Recuperar senha</button>
  </form>
  
  {{#if error}}<p class="error-toast">{{error}}</p>{{/if}}
  {{#if success}}<p class="success-toast">{{success}}</p>{{/if}}
</div>
