<div class="dashboard-container">
    <h1>Painel Administrativo</h1>

    <p>Bem-vindo, {{admin.nome}}!</p>

    <ul class="prinsipal">
        <li><a href="/admin/admins">Administradores</a></li>
        <li><a href="/admin/professionals">Gerenciar Profissionais</a></li>
        <li><a href="/admin/services">Gerenciar Serviços</a></li>
        <li><a href="/admin/hours">Gerenciar Horários</a></li>
        <li><a href="/admin/blocks">Bloquear Dias/Horários</a></li> 
        <li><a href="/admin/mostrarDashboardAgendamentos">dshibord client</a></li> 
        <li><a href="/admin/comments">Gerenciar Comentários</a></li>
        <li><a href="/admin/weekly-agenda">Visualizar Agenda Semanal</a></li>
        <li><a href="/admin/site-texts">Configurar Public Home</a></li>
        <li><a href="/admin/logout">Sair</a></li>
    </ul>
</div>
