<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{header_title}} | Serviços e Informações</title>
    
    <meta name="description" content="Meu site oferece informações claras, rápidas e seguras sobre nossos serviços e novidades.">


    <link rel="stylesheet" href="/css/{{adminStyle}}">
    <link rel="stylesheet" href="/css/cssConponentes/footerHeader.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    
</head>
<body>
    {{> admin/header}}
  
        {{{body}}}
    
    
    {{> admin/footer}}
</body>
</html>
