<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{header_title}} | Serviços e Informações</title>
    <meta name="description" content="Meu site oferece informações claras, rápidas e seguras sobre nossos serviços e novidades.">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    {{> public/header}}
    <main>
        {{{body}}}
    </main>
    {{> public/footer}}
</body>
</html>
